image:
  - Visual Studio 2017
environment:
  global:
  # TODO This is the Rust channel that build jobs will use by default but can be
  # overridden on a case by case basis down below
    RUST_VERSION: stable
    JAVA_HOME: C:\Program Files\Java\jdk1.8.0
    JAVA_LIB_DIR: C:\Program Files\Java\jdk1.8.0\lib
    # TODO Update this to match the name of your project.
    CRATE_NAME: exonum-java-binding

install:
  - ps: >-
      If ($Env:TARGET -eq 'x86_64-pc-windows-gnu') {
        $Env:PATH += ';C:\msys64\mingw64\bin'
      } ElseIf ($Env:TARGET -eq 'i686-pc-windows-gnu') {
        $Env:PATH += ';C:\msys64\mingw32\bin'
      }
  - dir C:\Program Files\Java\jdk1.8.0\lib
  - echo %JAVA_HOME%
  - echo %JAVA_LIB_DIR%
  - curl -sSf -o rustup-init.exe https://win.rustup.rs/
  - rustup-init.exe -y --default-host %TARGET% --default-toolchain %RUST_VERSION%
  - set PATH=%PATH%;C:\Users\appveyor\.cargo\bin
  - rustc -Vv
  - cargo -V

# TODO This is the "test phase", tweak it as you see fit
test_script:
  # we don't run the "test phase" when doing deploys
  - if [%APPVEYOR_REPO_TAG%]==[false] (
      cd exonum-java-binding-core/rust &&
      cargo build --release
    )

cache:
  - C:\Users\appveyor\.cargo\registry
  - target

# Building is done in the test phase, so we disable Appveyor's build phase.
build: false
